@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    <div class="content text-justify">
        <h1>@ViewData["Title"]</h1>
        <span><strong>Last updated:</strong> 29 May 2022</span>

        <div class="text">
            The Art Gallery ("AG", "we", "us" or "our") respects your right to personal privacy.
            This privacy notice for AG describes how and why we might collect, store, use and/or share your information 
            when you use our services, such as when you:
            <ul>
                <li>Visit our websites that links to third privacy notice.</li>
                <li>Engage with us in other related ways, including any sales, bookings, marketing, or events.</li>
            </ul>
        </div>

        <h4 class="text-bold">What info do we collect?</h4>
        <div class="text-body">
            We collect personal iformation that you voluntarily provide to us when you register to our email list, 
            express an interest in obtaining information about us or our services or products, or otherwise when you contact us.
            <strong>Personal Information Provided by You.</strong> The personal informatiion that we collect depends on the 
            context of your interaction with us and out website.The personal information we collect may include the folloeing:
            <ul>
                <li>Names</li>
                <li>Emails</li>
                <li>financial information such as payment methods</li>
                <li>online behaviour</li>
            </ul>
            <strong>Sensitive Information.</strong> When necessary, with your consent or as otherwise permitted by applicable law, 
            we process 
            the following categories of sensitive info:
            <strong>Social Media Login Data.</strong> We may provide you with option too register with us using your existing social 
            media account details, like Facebook.
        </div>

        <h4 class="text-bold">How do we process your information?</h4>
        <div class="text-body">
           We process your personal info to provide and improve our services, communicate with you, and to comply with law. We may also 
           process your information for other purposes with your consent.
        </div>

        <h4 class="text-bold">Why does we collect your personal information?</h4>
        <div class="text-body">
            AG collect your personal information from you only for purpose we indentify you.We do not require any personal information 
            in order for you to navigate through our Site. Where the collection of personal information is necessary from us is when 
            you use our services.
        </div>

        <h4 class="text-bold">When and with whom do we share your personal information?</h4>
        <div class="text-body">
            We may share information in specific situations decribed in this section and/or with the following third partiies:
           <ul>
               <li>
                   <strong>Business Partner</strong> We may share you info with our business partners to offer you certain products, 
                   services, or promotions.
               </li>
           </ul>
        </p>
        </div>

        <h4 class="text-bold">Does we collect personal information from children?</h4>
        <div class="text-body">
           We are protecting the privacy of children under the age of 18. For that reason, we never knowingly solicit, collect, store 
           or disclose information via our Site from children under 18 years old. If a child under the age of 18 wishes to disclose 
           to us personal inforamtion, he/she must provide us with his/her parent's or legal guardian's email address so that we can 
           obtain express consent from them. If a child has already provided us with personal information, his/her parent or legal 
           guardian may contact us using the contact information below, for the purpose of correcting or deleting such information. 
           We encourage parents of children under the age of 18 to regularly check and monitor their children’s use of e-mail and the Site.
        </div>

        <h4 class="text-bold">How do we keep your information safe?</h4>
        <div class="text-body">
           We aim to protect your personal information through a system of organizational and technical security measures. However, 
           despite our safeguards and efforts to secure your information, no electronic transmission over Internet or information 
           storage thechnology can be guaranteed to be 100% secure. Although we will do out best to protect your personal information, 
           transmission of personal information to and from our website is at your own risk. You should access our Services wiithin 
           a secure environment.
        </div>

        <h4 class="text-bold">Does we use cookies and for what purpose?</h4>
        <div class="text-body">
            Cookies are files with small amount of data that is commonly used an anonymous unique identifier. These are sent to your 
            browser from the website that you visit and are stored on your computer's hard drive.

            Our website uses these “cookies” to collection information and to improve our Service. You have the option to either accept 
            or refuse these cookies, and know when a cookie is being sent to your computer. If you choose to refuse our cookies, you may 
            not be able to use some portions of our Service.
        </div>

        <h4 class="text-bold">What about notification of changes</h4>
        <div class="text-body">
            We may update this privacy notice from time to time. The updated version will be effective as soon as it is
            published on this page. If this notice changes we will make sure to inform you for any changes. We encourage 
            you to review this privacy notice frequently to keep up with any possible changes and stay informed. 
        </div>

        <h4 class="text-bold">Contact info</h4>
        <div class="text-body">
            If you have any questions about our Privacy Policy, do not hesitate to contact us.
            Art Gallery
            Email: info@artgallery.com
        </div>
    </div>
</div>