@{
    ViewData["Title"] = "Thank you";
}

<div class=text-lightblue>
    <div class="text-body">
        <h3>Thank you for contactiin us!</h3>
        <p>Please expect a reply to your email as soon as possible.</p>
        <hr />
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </div>
</div>
