@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}


<div class="container-fluid">
    <div class="text-danger" style="color:darkblue">
        <h4>@ViewData["Title"]</h4>
    </div>
           
    <partial name="_StatusMessage" for="StatusMessage" />
    <div class="row">
        <form id="profile-form" method="post">
             <div class="form-floating">
                 <lable asp-for="Input.FirstName" class="form-label"></lable>
                 <input asp-for="Input.FirstName" class="form-control" />
                 <span asp-validation-for="Input.FirstName" class="text-danger"></span>
              </div>
               <div class="form-floating">
                   <lablе asp-for="Input.LastName" class="form-label"></lablе>
                   <input asp-for="Input.LastName" class="form-control"/>
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
               </div>
               <div class="form-floating">
                   <label asp-for="Username" class="form-label"></label>
                   <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
               </div>
               <div class="form-floating">
                  <lablel asp-for="Email" class="form-label"></lablel>
                  <input asp-for="Input.Email" class="form-label" />
                  <span asp-validation-for="Input.Email" class="text-danger"></span>
               </div>
               <div class="form-floating">
                    <label asp-for="Input.PhoneNumber" class="form-label"></label>
                    <input asp-for="Input.PhoneNumber" class="form-control" />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
        
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
