@using ArtGallery.Core.Models.FaqEntity;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model IEnumerable<FaqViewModel>
@{
    ViewData["Title"] = "All FAQ";
    Layout = "/Areas/Administration/Views/Shared/_AdminLayout.cshtml";
}


<div class=row>
    <div class="col-8">
        <a href="/Administration/About/Create" class="btn btn-block btn-success">Create</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Question</th>
                <th>Answer</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var faq in ViewBag.faq)
            {
                <tr>
                    <td>@faq.FaqId</td>
                    <td>@faq.Question</td>
                    <td>@faq.Answer</td>
                    <td>
                        <div class="">
                            <a asp-area="Administration" asp-controller="About" asp-action="Edit"  asp-route-id="@faq.FaqId" class="btn btn-block btn-outline-success btn-sm"><i class="fas fa-edit"></i>Edit</a>
                        </div>
                    </td>
                </tr>
            }                 
            </tbody>
        </table>
    </div>
</div>