@using ArtGallery.Core.Models.Administrator
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model FaqEditViewModel;
@{
    ViewData["Title"] = "Edit FAQ";
    Layout = "/Areas/Administration/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-8">
        <form asp-area="Administration" asp-controller="About" asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h4>Edit FAQ with id: @Model.FaqId</h4>
            <input type="hidden" asp-for="FaqId" />
            <div class="form-floating">
                <label asp-for="Question" class="form-lable"></label>
                <input asp-for="Question" class="form-control" value="@Model.Question" />
                <span asp-validation-for="Question" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Answer" class="form-lable"></label>
                <textarea asp-for="Answer" class="form-control" value="@Model.Answer"></textarea>
                <span asp-validation-for="Question" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-block btn-success">Edit</button>
            <button asp-area="Administration" asp-controller="About" asp-action="All" class="btn btn-block btn-primary">All FAQ</button>
        </form>
    </div>
</div>