<!-- Sidebar -->
<div class="sidebar sidebar-nav">
      <div class=""nav-header"><strong>Admin</strong></div>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

          <a asp-area="administration" asp-controller="Dashboard" asp-action="Index"
          class="nav-link"> Dashboard </a>

          <a asp-area="administration" asp-controller="Events" asp-action="Index"
          class="nav-link"> Events </a>

          <a asp-area="administration" asp-controller="Art Store" asp-action="Index"
          class="nav-link"> Art Store </a>

          <a asp-area="administration" asp-controller="Blog Post" asp-action="Index"
          class="nav-link"> Blog Post </a>

      </div>
</div>
<!-- /.sidebar-wrapper -->