
@{
    ViewData["Title"] = "Privacy Policy";
}

@* There is only an Entity in my Database for this page and it is only displaying visually. *@

<div class="row">
    <div class="col-8">
        <div class="text"><h1>Privacy Policy</h1></div>
        <span><strong>Last updated:</strong> 29 May 2022</span>
        <div>
            This privacy notice for Art Gallery ("we", "us" or "our") describes how and why we might
            collect, store, use and/or share your information when you use our services, such as when you:
            <ul>
                <li>Visit our websites that links to thid privacy notice.</li>
                <li>Engage with us in other related ways, including any sales, bookings, marketing, or events.</li>
            </ul>
            We may update this privacy notice from timr to time. The updated version will be effective as soon as it is
            published on this page. If this notice changes we will make sure to inform you for any changes. We encourage 
            you to review this privacy notice frequently to keep up with any possible changes and stay informed. 
        </div>
        <div class="text"><h3>What info do we collect?</h3></div>
        <div>
            We collect personal iformation that you voluntarily provide to us when you register to our email list, 
            express an interest in obtaining information about us or our services or products, or otherwise when you contact us.
            <strong>Personal Information Provided by You.</strong> The personal informatiion that we collect depends on the 
            context of your interactiion with us and out website.The personal information we collect may include the folloeing:
            <ul>
                <li>Names</li>
                <li>Emails</li>
                <li>payment methods</li>
                <li>online behaviour</li>
            </ul>
            <strong>Sensitive Information.</strong> When necessary, with your consent or as otherwise permitted by applicable law, we process 
            the following categories of sensitive info:
            <strong>Social Media Login Data.</strong> We may provide you with option too register with us using your existing social media account
            details, like Facebook, Google, or other social media account.
       </div>
        <div class="text"><h3>How do we process your information?</h3></div>
        <div>
           We process your personal info to provide and improve our services, communicate with you, and to comply with law. We may also process 
           your information for other purposes with your consent.
        </div>
        <div class="text"><h3>When and with whom do we share your personal info?</h3></div>
        <div>
           We may share information in specific situations decribed in this section and/or with the following third partiies:
           <ul>
               <li>
                   <strong>Business Partner</strong> We may share you info with our business partners to offer you certain products, services, or promotions.
               </li>
           </ul>
        </div>
         <div class="text"><h3>How do we keep your information safe?</h3></div>
        <div>
           We aim to protect your personal information through a system of organizational and technical security measures. However, despite our safeguards and 
           efforts to secure your information, no electronic transmission over Internet or information storage thechnology
           can be guaranteed to be 100% secure. Although we will do out best to protect your personal information, transmission of 
           personal information to and from our website is at your own risk. You should access our Services wiithin a secure environment.
        </div>
    </div>
</div>