@using ArtGallery.Web.ViewModels.Administrator
@using ArtGallery.Data.Models.Enumeration
@model EventEditViewModel
@{
    ViewData["Title"] = "Event Edit";
}

 @* Name  Price  Date  Type TicketSelection  Description *@  

 <div class="row">
    <div class="col-8">
        <form id="edit" method="post">
            <input type="hidden" name="Id" value="@Model.EventId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                 <label asp-for="Name" class="form-lable"></label>
                 <input asp-for="Name" class="form-control" aria-required="true" />
                 <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-floating">
                 <label asp-for="Price"  class="form-lable" ></label>
                 <input asp-for="Price" class="form-control" autocomplete="current-password" aria-required="true" />
                 <span asp-validation-for="Price" class="text-danger"></span>
            </div>
             <div class="form-floating">
                 <label asp-for="Date" class="form-lable"></label>
                 <input asp-for="Date" class="form-control" aria-required="true" />
                 <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-floating">
                 <label asp-for="Type" class="form-lable"></label>
                 <select asp-for="Type"  asp-items="@Html.GetEnumSelectList<EventType>()" multiple="" class="select2-dropdown">
                    <option>Select type ...</option>
                    <option value="1">InPerson</option>
                    <option value="2">Online</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
             <div class="form-floating">
                 <label asp-for="TicketType" class="form-lable"></label>
                 <select asp-for="TicketType" asp-items="@Html.GetEnumSelectList<TicketType>()" multiple="" class="select2-dropdown">
                       <option>Select type ...</option> 
                       <option value="1">Free</option>
                    <option value="2">Paid</option>
                 </select>
            </div>
            <div class="form-floating">
                 <label asp-for="Description"  class="form-lable" ></label>
                 <input asp-for="Description" class="form-control" autocomplete="current-password" aria-required="true" />
                 <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-8">
                     <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
            </div>
        </form>

    </div>
</div>

@section Scripts{
    <partial name="__ValidationScriptsPartial" />
}
