@using ArtGallery.Core.Models.Users
@using ArtGallery.Infrastructure.Data.Models.Enumeration
@using ArtGallery.Extensions

@model ProfileViewModel
@{
    ViewData["Title"] = "UpdateProfile";
}

@if (this.TempData["MessageConstants"] != null)
{
   <div class="alert-default-success">
        @this.TempData["MessageConstants"]
   </div>
}

<div class="container-fluid">
    <h2 class="text-center text">UpdateProfile</h2>
    <div class="row">
        <div calss="col-4">
            <form asp-area="" aps-comntroller="User" asp-action="UpdateProfile" method="post">
                <div asp-validation-summary="ModelOnly"></div>
                
                <div class="form-floating">
                    <div class="form-group">
                       <label asp-for="FirstName"></label>
                       <input type="text" class="form-control" placeholder="First Name..." asp-for="FirstName">
                       <span asp-validation-for="FirstName" class="text-danger"></span>
                   </div>
                </div>
                <div class="form-floating">
                    <div class="form-group">
                       <label asp-for="LastName"></label>
                       <input type="text" class="form-control" placeholder="Last Name..." asp-for="LastName">
                       <span asp-validation-for="LastName" class="text-danger"></span>
                   </div>
                </div>
                <div class="form-floating">
                    <div class="form-group">
                       <label asp-for="UserName"></label>
                       <input type="text" class="form-control" placeholder="Username..." asp-for="UserName">
                       <span asp-validation-for="UserName" class="text-danger"></span>
                   </div>
                </div>
                <div class="form-floating">
                    <div class="form-group">
                       <label asp-for="Gender"></label>
                       <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control">
                           <option selected="selected" value="">Please select...</option>
                        </select>
                       <span asp-validation-for="Gender" class="text-danger"></span>
                   </div>
                </div>
                <div class="form-floating">
                    <div class="form-group">
                       <label asp-for="Photo"></label>
                       <input type="file" class="form-control" placeholder="Photo..." asp-for="Photo">
                       <span asp-validation-for="UrlImage" class="text-danger"></span>
                   </div>
                </div>
                <div class="form-floating">
                    <div class="form-group">
                       <label asp-for="Email"></label>
                       <input type="text" class="form-control" placeholder="Email..." asp-for="Email">
                       <span asp-validation-for="Email" class="text-danger"></span>
                   </div>
                </div>
                <div class=col-4>
                    <a asp-controller="User" asp-action="Profile" asp-route-id="@Model.UserId" class="btn btn-info">Cancle</a>
                    <button type="submit" class="btn btn-primary btn-block">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
