<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
          <ul class="nav">
             <li class="nav-link">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> 
              </li>
           </ul>
    </div>
    <div class="copyright">
        <!-- Default to the left -->
    <strong><i class="fab fa-copyright"></i> Copyright &copy; 2018 - @DateTime.UtcNow.Year ArtGallery.</strong> All rights reserved.
    </div>
</footer>

