@using ArtGallery.Common 

       <div class="container-fluid">
          <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
               <ul class="navbar-nav flex-grow-1" data-widget="treeview" role="menu" data-accordion="false">
                   <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i> Home</a>
                   </li>
                   <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="About" asp-action="Index"><i class="fas fa-info-circle"></i> About</a>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link" asp-area="" asp-controller="Event" asp-action="AllEvents"><i class="fas fa-calendar-day"></i> Events</a>
                   </li>
                   <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Blog" asp-action="Index"><i class="fab fa-microblog"></i> Blog</a>
                   </li>
                </ul>
                <partial name="_SearchBox" />
           </div>
     </div> 