@using ArtGallery.Common

    <div class="container-fluid">
          <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
               <ul class="navbar-nav flex-grow-1" data-widget="treeview" role="menu" data-accordion="false">
                   <li class="nav-item">
                        <a class="nav-link btn-outline-info text-lightblue" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                   </li>
                   <li class="nav-item">
                        <a class="nav-link btn-outline-info text-lightblue" asp-area="" asp-controller="Event" asp-action="AllEvents">Events</a>
                   </li>
                   <li class="nav-item">
                        <a class="nav-link btn-outline-info text-lightblue" asp-area="" asp-controller="Blog" asp-action="Index">Blog</a>
                   </li>
                </ul>
                <partial name="_SearchBox" />
           </div>
     </div>   