@{
    ViewData["Title"] = "Home Page of Administration Area";
    Layout = "/Areas/Administration/Views/Shared/_AdminLayout.cshtml";
}

<div class="text-centre">
    <h1 class="display-2">Welcome to Administration</h1>
</div>