
@{
    ViewData["Title"] = "Dashboard";
}

<div class="mt-2">
    <div class="nav-header">Admin Access</div>
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a href="/"class="nav-link btn-outline-info"> <i class="fas fa-house-user"></i> Home </a>
          </li>
          <li class="nav-item">
              <a asp-area="Administration" asp-controller="User" asp-action="ManageUsers" class="nav-link btn-outline-info">
                <i class="far fa-circle nav-icon"></i> Manage Users
              </a>
          </li>
          <li class="nav-item">
              <a asp-area="Administration" asp-controller="User" asp-action="Edit" class="nav-link btn-outline-info">
                 <i class="far fa-circle nav-icon"></i> Edit
              </a>
          </li>
          <li class="nav-item">
              <a asp-area="Administration" asp-controller="User" asp-action="Roles" class="nav-link btn-outline-info">
                 <i class="far fa-circle nav-icon"></i> Roles
              </a>
          </li>

          <li class="nav-item">
              <a asp-area="Administration" asp-controller="Event" asp-action="Create" class="nav-link btn-outline-info">
                 <i class="far fa-circle nav-icon"></i> Create Event
              </a>
          </li>
          <li class="nav-item">
              <a asp-area="Administration" asp-controller="Event" asp-action="Edit" class="nav-link btn-outline-info">
                 <i class="far fa-circle nav-icon"></i> Edit Event
              </a>
          </li>

          <li class="nav-item">
              <a asp-area="Administration" asp-controller="About" asp-action="Create" class="nav-link btn-outline-info">
                 <i class="far fa-circle nav-icon"></i> Create FAQ
              </a>
          </li>
          <li class="nav-item">
              <a asp-area="Administration" asp-controller="About" asp-action="Edit" class="nav-link btn-outline-info">
                 <i class="far fa-circle nav-icon"></i> Edit FAQ
              </a>
          </li>
   </ul>
   </div>

