@using ArtGallery.Web.ViewModels.Administrator
@using ArtGallery.Data.Models.Enumeration
@model BlogPostCreateInputModel
@{
    ViewData["Title"] = "Create Blog";
}

@* Title, UrlImage, Content, Author *@

<div class="row">
    <div class="col-8">
        <form id="edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                 <label asp-for="Title" class="form-lable"></label>
                 <input asp-for="Title" class="form-control" aria-required="true" />
                 <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-floating">
                 <label asp-for="UrlImage"  class="form-lable" ></label>
                 <input asp-for="UrlImage" class="form-control" autocomplete="current-password" aria-required="true" />
                 <span asp-validation-for="UrlImage" class="text-danger"></span>
            </div>
            <div class="form-floating">
                 <label asp-for="Author"  class="form-lable" ></label>
                 <input asp-for="Author" class="form-control" autocomplete="current-password" aria-required="true" />
                 <span asp-validation-for="Author" class="text-danger"></span>
            </div>
             <div class="form-floating">
                 <label asp-for="Content" class="form-lable"></label>
                 <input asp-for="Content" class="form-control" aria-required="true" />
                 <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-8">
                     <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="__ValidationScriptsPartial" />
}
