<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
      <aside class="main-sidebar sidebar-dark-primary elevation-4">
                <ul class="sidebar-nav flex-grow-0.5">
                <li class="sidebar-nav">
                      <a asp-area="" asp-controller="Home" asp-action="Settings">Settings</a>
                 </li>
                 <li class="sidebar-nav">
                      <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                  </li>
                 </ul>
       </aside>
    </div class="copyright">
    <!-- Default to the left -->
    <strong>Copyright &copy; 2018 - @DateTime.UtcNow.Year ArtGallery.</strong> All rights reserved.
  </footer>