     <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item">
            <a href="/" class="nav-link">
              <i class="fas fa-house-user"></i>
              <p>
                 Home
              </p>
            </a>
          </li>

          <li class="nav-header">Admin Access</li>
          <li class="nav-item">
            <a href="/Identity/Pages/Account/Calendar" class="nav-link">
              <i class="nav-icon far fa-calendar-alt"></i>
              <p>
                Calendar
                <span class="badge badge-info right">2</span>
              </p>
            </a>
          </li>

           <li class="nav-item">
              <a href="pages/examples/invoice.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Profile</p>
              </a>
           </li>
           <li class="nav-item">
              <a href="pages/examples/profile.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Sale Transactions</p>
              </a>
           </li>
           <li class="nav-item">
               <a href="pages/examples/e-commerce.html" class="nav-link">
                 <i class="far fa-circle nav-icon"></i>
                 <p>Booking Transaction</p>
              </a>
           </li>
           <li class="nav-item">
              <a href="pages/examples/project-add.html" class="nav-link">
                 <i class="far fa-circle nav-icon"></i>
                 <p>Add Upcoming Events</p>
              </a>
           </li>
           <li class="nav-item">
               <a href="pages/examples/project-edit.html" class="nav-link">
                 <i class="far fa-circle nav-icon"></i>
                 <p>Confirm Events</p>
              </a>
           </li>
           <li class="nav-item">
              <a href="pages/examples/project-detail.html" class="nav-link">
                 <i class="far fa-circle nav-icon"></i>
                 <p>Delete Past Events</p>
              </a>
           </li>
           <li class="nav-item">
               <a href="pages/examples/project-detail.html" class="nav-link">
                 <i class="far fa-circle nav-icon"></i>
                 <p>Add Blog Post</p>
              </a>
           </li>
           <li class="nav-item">
              <a href="pages/examples/faq.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>FAQ</p>
              </a>
           </li>
     </ul>
</nav>
