@using ArtGallery.Web.ViewModels
@model ErrorViewModel
@{
    ViewData["Title"] = "Error500";
}

<div class="container">
    <div class="error-page">
        <div class="error-content image">
            <img src="@GlobalConstants.Images.Error500" class="img-thumbnail" />
        </div>
        <div class="error-content text">
            <h1 class="text-danger" style="color: darkblue">Oops!</h1>
            <h2 class="text-danger">An error occurred while processing your request.</h2>
            <span>We will work on fixing that right away. Meanwhile, please go back to Home Page. Thank you for your undestanding!</span>
        </div>
        <div class="btn btn-primary">
            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">GO HOME PAGE</a>
        </div>
    </div>
</div>