@using ArtGallery.Web.ViewModels
@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="container">
    <div class="error-page">
        <div class="error-content text">
            <h1 class="text-danger" style="color: darkblue">Oops!</h1>
            <h2 class="text-danger">An error occurred while processing your request.</h2>
        </div>

        @if (Model.ShowRequestId)
            {
                <p>
                    <strong>Request ID:</strong> <code>@Model.RequestId</code>
                </p>
            } 
    </div>
</div>