@using ArtGallery.Core.Models.Users
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model RolesViewModel
@{
    ViewBag.Title = "Create Role";
    Layout = "/Areas/Administration/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-8">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <label asp-for="Role" class="form-lable"></label>
                <input asp-for="Role" class="form-control" aria-required="true"/>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-auto">
                    <button type="submit" class="btn btn-block btn-success">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

