@using ArtGallery.Core.Models.Users
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model List<UserRolesViewModel>
@{
    ViewData["Title"] = "Manage Roles";
    Layout = "/Areas/Administration/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">User Roles</h3>
            </div>

            <!-- /.card-header -->
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th style="width: 40px">UserName</th>
                            <th>Roles</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in ViewBag.userRolesViewModel)
                        {
                            <tr>
                                <td>@user.Name</td>
                                <td><span class="badge bg-danger">@user.UserName</span></td>
                                <td>
                                    <select id="UserId" name="RoleNames" class="form-control">
                                        <option selected="selected" value="">Please select...</option>
                                        <option selected="selected" value="Admin">Admin</option>
                                        <option selected="selected" value="Manager">Manager</option>
                                        <option selected="selected" value="RegularUser">Regular User</option>
                                    </select>
                                    <span name="RoleNames" class="text-danger"></span>

                                </td>
                                <td>
                                    <div class="">
                                        <a asp-area="Administration" asp-action="ManageRoles" asp-controller="User" asp-route-id="@user.UserId" class="btn btn-block btn-outline-success btn-sm"> Manage Roles</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>