@using ArtGallery.Core.Models.Users
@model UserRolesViewModel
@{
    ViewData["Title"] = "User Roles";
    var items = (List<SelectListItem>)ViewBag.RoleItems;
}

<div class="row">
    <div class="col-8">
        <form id="roles" method="post">
              <input type="hidden" name="UserId" value="@Model.UserId" />
              <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              <div class="form-floating">
                   <h3>User: @Html.DisplayFor(u => u.Name)</h3>
              </div>
              <div class="form-floating">
                   <div class="form-group">
                       <label>User Roles</label>
                       <select asp-for="RoleNames" asp-items="@items" class="form-control">
                           <option selected="selected" value="">Please select...</option>
                           <option selected="selected" value="Admin">Admin</option>
                           <option selected="selected" value="Manager">Manager</option>
                           <option selected="selected" value="ArtGalleryUser">Regular User</option>
                       </select>
                       <span asp-validation-for="RoleNames" class="text-danger"></span>
                   </div>
              </div>
              <div class="row">
                   <div class="col-4">
                       <button type="submit" class="btn btn-primary btn-block">Submit</button>
                   </div>
                   <!-- /.col -->
              </div>
        </form>
    </div>
</div>