<div class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Administration" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Administration" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Administration" asp-controller="About" asp-action="Index">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Administration" asp-controller="Event" asp-action="Index">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Administration" asp-controller="ArtStore" asp-action="Index">Art Store</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Administration" asp-controller="Blog" asp-action="Index">Blog</a>
                </li>
            </ul>

            <ul class="navbar-nav flex-grow-1" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Administration" asp-page="/Account/Register">Register</a>
                </li>
                <li class="nav-item">
                    <i class="bis bi-door-open"></i>
                    <a class="nav-link text-dark" asp-area="Administration" asp-page="/Account/Login">Login</a>
                </li>
            </ul>
         </div>
     </div>   
</div>
