html {
  font-size: 14px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.main-sidebar, .sidebar-nav
{
    padding-right: 15px;
    list-style: none;
}

.main-footer
{
    padding-left: 15px;
    padding-top: 15px;
}

.info {
    padding-left: 10px;
}

.brand-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    image-resolution: 300dpi;
    width: 500px;
    height: 500px;
}

